:root {
  /* Shop 1 */
  --shop1-bg-color: #335145;
  --shop1-border-color: #91972a;
  --shop1-box-color: #f2f2f2;

  /* Shop 2 */
  --shop2-bg-color: #661300;
  --shop2-border-color: #ffaa5a;
  --shop2-box-color: #fff799;

  /* Shop 3 */
  --shop3-bg-color: #d29632;
  --shop3-border-color: #d29632;
  --shop3-box-color: #d29632;

  /* Shop 4 */
  --shop4-bg-color: #14293e;
  --shop4-border-color: #1fc1d6;
  --shop4-box-color: #caf7ef;

  /* Shop 5 */
  --shop5-bg-color: #20063b;
  --shop5-border-color: #cc3363;
  --shop5-box-color: #62c370;
}

#first-color,
#second-color,
#third-color,
#fourth-color,
#fifth-color {
  display: none;
}

#box {
  border-style: solid;
  border-width: 10px;
}

#currency-incrementor {
  background-color: gold;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
